.home {
  padding-top: 70px;
}

.grid-title {
  text-align: center;
  margin-top: 20px;
  font-size: 40px;
  font-weight: bold;
}

.book-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
  padding: 40px 60px;
  justify-items: center;
}