.search-bar-filter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 25px auto;
  width: 100%;
  max-width: 400px;
}

.search-bar input {
  flex: 1;
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 1rem;
  outline: none;
  transition: all 0.2s ease;
}

.search-bar input:focus {
  border-color: #5676e7;
  box-shadow: 0 0 5px rgba(59, 125, 221, 0.3);
}

.search-bar button, .filter {
  background-color: #5676e7;
  color: white;
  border: none;
  border-radius: 10px;
  width: 42px;
  height: 42px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.search-bar button:hover {
  opacity: 0.8;
}